.col-12.col-md-3.my-2
  .mx-3.bg-success.rounded
    h3.p-2.text-light.text-center No of Employee
    .text-center.m-auto.pb-4
      h1.m-auto.no_of_count.text-light.text_center 0
.col-12.col-md-3.my-2
  .mx-3.bg-success.rounded
    h3.p-2.text-light.text-center Managers
    .text-center.m-auto.pb-4
      h1.m-auto.text-light.text_center 0
.col-12.col-md-3.my-2
  .mx-3.bg-success.rounded
    h3.p-2.text-light.text-center Marketing
    .text-center.m-auto.pb-4
      h1#Marketing.m-auto.no_of_count.text-light.text_center 0
.col-12.col-md-3.my-2
  .mx-3.bg-success.rounded
    h3.p-2.text-light.text-center Engineering
    .text-center.m-auto.pb-4
      h1#Engineering.m-auto.no_of_count.text-light.text_center 0
.col-12.col-md-3.my-2
  .mx-3.bg-success.rounded
    h3.p-2.text-light.text-center IT
    .text-center.m-auto.pb-4
      h1#tech.m-auto.no_of_count.text-light.text_center 0
.col-12.col-md-3.my-2
  .mx-3.bg-success.rounded
    h3.p-2.text-light.text-center Finance
    .text-center.m-auto.pb-4
      h1#Finance.m-auto.no_of_count.text-light.text_center 0
script(src='d-employee-count.js')