//if(sessionAdmin)
button.btn.btn-success(type='button' data-toggle='modal' data-target='#exampleModal1')
  New Add Employee
// Modal
#exampleModal12.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog.modal-xl(role='document')
    .modal-content
      .modal-header
        h1#exampleModalLabel.modal-title New Employee 
        button.text-decoration-none.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
script. 
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js' integrity='sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=' crossorigin='anonymous')
