link(rel='stylesheet' href='dashboard.css')
#abc.container-fluid
  .row
    .col-10.contain-catlogue
        h2
          span
            button#toggleBtn.btn.btn-primary
              i.fas.fa-bars 
            Employee.pt-1   Employee Management System
    .col-2.contain-catlogue
      h5.pt-2.text-center
        a(href='/logout').text-decoration-none.text-light Logout    
          i.fa-solid.fa-power-off.text-dark