.contain-catlogue{
    background-color: rgb(132, 132, 207);
    padding: 10px;
}
.top-bar{
    background-color: rgb(178, 118, 69);
}
.para{
    width: 10%;
}
.my-custom-class{
    background-color: green;
}
.newDivClass{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: aliceblue;
}
.height1{
    height: 100vh;
}
#sidebarToggle {
    margin-right: 10px;
  }
.sidebar-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Ensure the button is on top of other elements */
  }
  